.side-bar
  .side-bar__user-name
    .side-bar__user-name__box
      .side-bar__user-name__box__name
        = current_user.name
      .side-bar__user-name__box__icons
        = link_to new_group_path do
          = icon('fas', 'edit', class:'icon-btn')
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog', class:'icon-btn')
  .side-bar__group-list
    - current_user.groups.each do |group|
      .side-bar__group-list__box
        = link_to '#' do
          .side-bar__group-list__box__list-name
            = group.name
          .side-bar__group-list__box__message
            まだメッセージがありません